/*FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*ESTILOS UNIVERSALES*/
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
}


* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 99%;
    margin-top: 20px;
    background-color: var(--color-white);
}

aside .logo img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
 }

aside .close{
    display: none;
}

aside .sidebar a{
    display: flex !important;
    color: var(--color-info-dark) !important;
    margin-top: 10px;
    margin-left: 2rem !important;
    gap: 1rem !important;
    align-items: center !important;
    position: relative !important;
    height: 3.7rem !important;
    transition: all 300ms ease !important;
}

aside .sidebar a span{
    font-size: 1.6rem !important;
    transition: all 300ms ease !important;
}

aside .sidebar a.active{
    background: var(--color-light) !important;
    color: var(--color-primary) !important;
}

aside .sidebar a:hover{
    color: var(--color-primary) !important;
}

aside .sidebar a:hover span{
    margin-left: 1rem !important;
}

.container {
    padding: 0 2rem
}

.sidebar {
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    gap: 2em;
    height: 100%;
    width: 196px;
    background-color: var(--color-white);
    position: fixed;
    left: 0;
    padding: 6px 14px;
    font-weight: 500 !important;
    font-size: 0.6rem;
}

aside .sidebar a{
    display: flex !important;
    color: var(--color-info-dark) !important;
    margin-left: 2rem !important;
    gap: 1rem !important;
    align-items: center !important;
    position: relative !important;
    height: 3.7rem !important;
    transition: all 300ms ease !important;
    list-style: none !important;
    text-decoration: none !important;
}

.content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 5;
}

/* Resume cards */
.resume-card__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1em;
    gap: 2em;
}

.resume-card__wrapper {
    padding: 6px 6px;
}

.resume-card {
    background-color: var(--color-white);
    box-shadow: 0 0 1px 0 var(--color-dark);
    width: 300px;
    border-left: 3px solid var(--color-primary);
    border-right: 3px solid var(--color-primary);
    padding: 6px 12px;
    transition: all 300ms ease !important;
    height: min-content;
}

.resume-card > div span {
    border-radius: 50% !important;
    font-size: 30px;
    color: var(--color-primary);
    position: relative;
    left: 230px;
    bottom: 30px;
}

.resume-card__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: #3b3764;
}

/* Show products */
.table {
    width: 100%;
    border: 1px solid var(--color-primary);
    border-spacing: 0;
 }
 th, td {
    padding: 8px;
    width: auto;
    border-bottom: 1px solid var(--color-primary);
    text-align: start;
    vertical-align: top;
    border-collapse: collapse;
    caption-side: bottom;
 }

 tr:hover {
    color: var(--color-primary);
    background: var(--color-white);
}

 th {
    background: var(--color-primary);
    color: var(--color-white);
    margin: 1px;
    padding: 10px;
 }

/* Loading */
.loading__container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-wrapp {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.load-wrapp p {
    padding: 0 0 20px;
}

.load-wrapp:last-child {
    margin-right: 0;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #1d1b31;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
    animation-delay: -1s;
}

.load-10 .bar {
    animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}


.img-thumbmnail {
width: 170px !important;
}

.width-card {
    width: 100%;
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes loadingJ {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(80px, 0);
        background-color: #f5634a;
        width: 25px;
    }
}



@media (min-width: 768px) {
    .products {
        flex-flow: column wrap;
        width: 100%;
        align-items: center;
        gap: 1em;
    }

    .product-card {
        width: calc(100% - 2em);
        max-width: 350px;
    }
}

@media (min-width: 992px) {
    .products {
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        gap: 1em;
    }

    .product-card {
        width: calc(100% / 2 - 1em);
        max-width: 300px;
    }

    .product-card__body h3 {
        min-height: 50px;
    }
}

@media (min-width: 1200px) {
    .products {
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-start;
        gap: 1em;
    }

    .product-card {
        width: calc(100% / 4 - 1em);
        max-width: 300px;
    }

    .product-card__body h3 {
        min-height: 100px;
        display: flex;
        align-items: center;
    }
}